@mixin hoverBGColor($color) {
  &:hover {
    background-color: darken($color, 15%);
  }
}

.btn {
  padding: .75rem 2rem;
  background-color: $_500;
  border: none;
  color: #fff;
  border-radius: .5rem;
  font-size: $fontSizeP;
  font-weight: 300;
  margin-bottom: $halfGutter;
  display: inline-block;
  box-shadow: 1px 1px 5px #ccc;
  &:hover {
    cursor: pointer;
    color: #fff;
    background-color: $_600;
  }
}

.btn + .btn {
  margin-left: .5rem;
}

/* button colors */
.btn-primary {
  background-color: $primary;
  @include hoverBGColor($primary)
}

.btn-info {
  background-color: $info;
  @include hoverBGColor($info)
}

.btn-success {
  background-color: $success;
  @include hoverBGColor($success)
}

.btn-warning {
  background-color: $warning;
  @include hoverBGColor($warning)
}

.btn-danger {
  background-color: $danger;
  @include hoverBGColor($danger)
}

/* button sizes */
.btn--xs {
  padding: .50rem 1.5rem;
}

.btn--sm {
  padding: .75rem 2rem;
}

.btn--md {
  padding: 1rem 2.5rem;
}

.btn--lg {
  padding: 1.25rem 3.0rem;
}

