button {
  padding: .75rem 2rem;
  background-color: $_500;
  border: none;
  color: #fff;
  border-radius: .5rem;
  font-size: $fontSizeNormal;
  font-weight: 300;
  margin-bottom: $halfGutter;
  @include hoverable($_500);
}

button + button {
  margin-left: .5rem;
}
