$marginDivisor: 5;

/**
* TODO // round to 2 decimal places
* Calculates the margin by looking at the elements font-size of the text
*/
@mixin fontProperties($fontSize) {
  font-size: $fontSize;
  margin: $fontSize/$marginDivisor 0;
  line-height: 1.1;
  letter-spacing: .25px;
}

/**
* Makes the heading text look bold but not too bold.
*/
h1, h2, h3, h4, h5, h6, label {
  font-weight: 500;
}

/* Fonts */
h1 {
  @include fontProperties($fontSizeH1);
}

h2 {
  @include fontProperties($fontSizeH2);
}

h3 {
  @include fontProperties($fontSizeH3);
}

h4 {
  @include fontProperties($fontSizeH4);
}

h5 {
  @include fontProperties($fontSizeH5);
}

h6 {
  @include fontProperties($fontSizeH6);
}

p, label, span, li {
  font-weight: 300;
  @include fontProperties($fontSizeP);
}

small {
  font-size: 65%;
}

a {
  @include fontProperties($fontSizeA);
  color: $_500;
  &:hover {
    color: $_800;
  }
}
