/*
* word-spacing - Setting word spacing here causes issues whenever someone creates
* a class that decreases the font-size of a specific tag, and the word-space is
* not fixed according to the new size.
*/

$fonts: (
        h1:(
                font-size: $fontSizeXl,
                margin: $fontMarginXl 0,
                line-height: $lineHeightXl,
                font-weight: $fontWeightMd,
                color: $textColor
        ),
        h2:(
                font-size: $fontSizeLg,
                margin: $fontMarginLg 0,
                line-height: $lineHeightLg,
                font-weight: $fontWeightMd,
                color: $textColor
        ),
        h3:(
                font-size: $fontSizeMd,
                margin: $fontMarginMd 0,
                line-height: $lineHeightMd,
                font-weight: $fontWeightMd,
                color: $textColor
        ),
        h4:(
                font-size: $fontSizeSm,
                margin: $fontMarginSm 0,
                line-height: $lineHeightSm,
                font-weight: $fontWeightMd,
        ),
        h5:(
                font-size: $fontSizeXs,
                margin: $fontMarginXs 0,
                line-height: $lineHeightXs,
                font-weight: $fontWeightMd,
        ),
        h6:(
                font-size: $fontSizeXxs,
                margin: $fontMarginXxs 0,
                line-height: $lineHeightXxs,
                font-weight: $fontWeightMd,
        ),
        p:(
                font-size: $fontSizeNormal,
                margin: $fontMarginNormal 0,
                line-height: $lineHeightNormal,
                font-weight: $fontWeightSm,
        ),
        li:(
                font-size: 1.6rem,
                margin: $fontMarginNormal 0,
                line-height: $lineHeightNormal,
        ),
);

@each $tag, $properties in $fonts {
  #{$tag} {
    @each $key, $value in $properties {
      #{$key}: #{$value}
    }
  }
}
