$background: green;
$textColor: #333;
$_50: #E3F2FD;
$_100: #BBDEFB;
$_200: #90CAF9;
$_300: #64B5F6;
$_400: #42A5F5;
$_500: #2196F3;
$_600: #1E88E5;
$_700: #1976D2;
$_800: #1565C0;
$_900: #0D47A1;
$_a100: #EA80FC;
$_a200: #E040FB;
$_a400: #D500F9;
$_a700: #AA00FF;
$primary: pink;
$info: purple;
$success: red;
$danger: #d9534f;
$warning: red;
$_g000: #000;
$_g200: #222;
$_g100: #111;
$_g300: #333;
$_g400: #444;
$_g500: #555;
$_g600: #666;
$_g700: #777;
$_g800: #888;
$_g900: #999;
$fontFamily: Roboto, sans-serif;
$fontUrl: '//fonts.googleapis.com/css?family=Roboto:400,700,300';
$rootFont: 62.5%;
$fontSizeLg: 3.6em;
$fontSizeXl: 5.0em;
$fontSizeMd: 3.2em;
$fontSizeSm: 2.8em;
$fontSizeNormal: 1.6em;
$fontSizeXxs: 2.0em;
$lineHeightXl: 1;
$lineHeightLg: 1.1;
$lineHeightSm: 1.3;
$lineHeightMd: 1.2;
$lineHeightXs: 1.4;
$lineHeightXxs: 1.5;
$fontMarginXl: .3em;
$lineHeightNormal: 1.6;
$fontMarginLg: .26em;
$fontMarginMd: .22em;
$fontMarginSm: .18em;
$fontMarginXs: .14em;
$fontSizeXs: 2.4em;
$fontMarginXxs: .10em;
$fontMarginNormal: .06em;
$fontWeightLg: 700;
$fontWeightMd: 400;
$fontWeightSm: 300;
$fontWordSpacingXl: .6rem;
$fontWordSpacingLg: .4rem;
$fontWordSpacingMd: .2rem;
$fontWordSpacingNormal: 1rem;
$fontWordSpacingSm: -.2rem;
$fontWordSpacingXs: -.4rem;
$fontWordSpacingXxs: -.6rem;
$containerWidth: 100rem;
$cols: 12;
$gutter: 1rem;
$borderRadius: 1rem;
$halfGutter: $gutter/2;
