<!-- button component -->
<div class="row row--expand">
  <div class="col col--xs12">
    <h2 class="text-center">Buttons</h2>
  </div>

  <div class="col text-center col--xs6">
    <p>btn btn--xs</p>
    <a class="btn btn--xs btn-primary">xs-button</a>
    <a class="btn btn--xs btn-info">xs-button</a>
    <a class="btn btn--xs btn-warning">xs-button</a>
    <a class="btn btn--xs btn-danger">xs-button</a>
  </div>

  <div class="col text-center col--xs6">
    <p>btn btn--sm</p>
    <a class="btn btn--sm btn-primary">sm-button</a>
    <a class="btn btn--sm btn-info">sm-button</a>
    <a class="btn btn--sm btn-warning">sm-button</a>
    <a class="btn btn--sm btn-danger">sm-button</a>
  </div>
  <div class="col text-center col--xs6">
    <p>btn btn--md</p>
    <a class="btn btn--md btn-primary">md-button</a>
    <a class="btn btn--md btn-info">md-button</a>
    <a class="btn btn--md btn-warning">md-button</a>
    <a class="btn btn--md btn-danger">md-button</a>
  </div>
  <div class="col text-center col--xs6">
    <p>btn btn--lg</p>
    <a class="btn btn--lg btn-primary">lg-button</a>
    <a class="btn btn--lg btn-info">lg-button</a>
    <a class="btn btn--lg btn-warning">lg-button</a>
    <a class="btn btn--lg btn-danger">lg-button</a>
  </div>
</div>

<!-- button-group component -->
<div class="row row--expand">
  <div class="col col--xs12">
    <h2 class="text-center">Button-group</h2>
  </div>

  <div style="min-height: 100px" class="col text-center col--xs12 col--md6">
    <p>btn btn--xs</p>
    <div class="btn-group">
      <button class="btn btn--xs btn-primary">xs-button</button>
      <button class="btn btn--xs btn-info">xs-button</button>
      <button class="btn btn--xs btn-warning">xs-button</button>
      <button class="btn btn--xs btn-danger">xs-button</button>
    </div>
  </div>

  <div style="min-height: 100px" class="col text-center col--xs12 col--md6">
    <p>btn btn--sm</p>
    <div class="btn-group">
      <a class="btn btn--sm btn-primary">sm-button</a>
      <a class="btn btn--sm btn-info">sm-button</a>
      <a class="btn btn--sm btn-warning">sm-button</a>
      <a class="btn btn--sm btn-danger">sm-button</a>
    </div>
  </div>

  <div style="min-height: 100px" class="col text-center col--xs12 col--md6">
    <p>btn btn--md</p>
    <div class="btn-group">
      <a class="btn btn--md btn-primary">md-button</a>
      <a class="btn btn--md btn-info">md-button</a>
      <a class="btn btn--md btn-warning">md-button</a>
      <a class="btn btn--md btn-danger">md-button</a>
    </div>
  </div>
  <div style="min-height: 100px" class="col text-center col--xs12 col--md6">
    <p>btn btn--lg</p>
    <div class="btn-group">
      <a class="btn btn--lg btn-primary">lg-button</a>
      <a class="btn btn--lg btn-info">lg-button</a>
      <a class="btn btn--lg btn-warning">lg-button</a>
      <a class="btn btn--lg btn-danger">lg-button</a>
    </div>
  </div>
</div>
