<!-- card component -->
<div class="row row--expand">
  <div class="col col--xs12">
    <h2 class="text-center">Card</h2>
  </div>

  <div class="row cards--same-height">
    <div class="col col--xs12 col--sm6 col--md4 col--lg3">

      <div class="card border-radius shadow--sm">
        <div class="card__img-container">
          <img class="img-responsive card__img-top" src="./images/img1.png"/>
        </div>

        <div class="card__header">
          <h2 class="card__title">This is the card title</h2>
        </div>

        <div class="card__body">
          <p class="card__text">
            is some lorep ipsumThis is some lorep ipsumThisis some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsumThis is some lorep ipsumThis is some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsumThis is some lorep ipsumThis is some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsum </p>
          <a class="btn btn--block btn-primary">Buy now!</a>

        </div>
      </div>

    </div>
    <div class="col col--xs12 col--sm6 col--md4 col--lg3">

      <div class="card border-radius shadow--sm">
        <div class="card__img-container">
          <img class="img-responsive card__img-top" src="./images/img1.png"/>
        </div>

        <div class="card__header">
          <h2 class="card__title">This is the card title</h2>
        </div>

        <div class="card__body">
          <p class="card__text">
            is some lorep ipsumThis is some lorep ipsumThisis some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsumThis is some lorep ipsumThis is some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsumThis is some lorep ipsumThis is some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsum </p>
          <a class="btn btn--block btn-primary">Buy now!</a>

        </div>
      </div>

    </div>
    <div class="col col--xs12 col--sm6 col--md4 col--lg6">

      <div class="card border-radius shadow--sm">
        <div class="card__img-container">
          <img class="img-responsive card__img-top" src="./images/img1.png"/>
        </div>

        <div class="card__header">
          <h2 class="card__title">This is the card title</h2>
        </div>

        <div class="card__body">
          <p class="card__text">
            is some lorep ipsumThis is some lorep ipsumThisis some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsumThis is some lorep ipsumThis is some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsumThis is some lorep ipsumThis is some lorep
            ipsumThis is some lorep ipsumThis is some lorep ipsumThis is
            some lorep ipsum </p>
          <a class="btn btn--block btn-primary">Buy now!</a>

        </div>
      </div>

    </div>
  </div>

</div>
