<div class="dashboard">
  <section class="dashboard__menu">
    <header class="dashboard__header">
      <h2 class="dashboard__heading">Blacklight</h2>
    </header>
    <nav>
      <ul>
        <li class="dashboard__link"><a href="#">test</a></li>
        <li class="dashboard__link"><a href="#">test</a></li>
        <li class="dashboard__link"><a href="#">test</a></li>
      </ul>
    </nav>
  </section>
  <section class="dashboard__content">
    <header class="dashboard__header">
      <div class="dashboard__header-box">
        <p class="dashboard--primary-color"><strong>Blacklight</strong></p>
        <h6 class="dashboard__heading">Multi-level Menu</h6>
        <ul class="dashboard__icons">
          <li><i class="fa fa-facebook-square" aria-hidden="true"></i></li>
          <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
          <li><i class="fa fa-pinterest-square" aria-hidden="true"></i></li>
        </ul>
      </div>
    </header>
    <main class="dashboard__main">
      <div id="carousel" class="row">

      </div>
    </main>
  </section>
</div>