<div class="row row--expand test content-block text-center">
  <div class="col-xs12 text-center">
    <h2>Grids</h2>
  </div>
  <div class="row">
    <div class="col col--xs12"></div>

    <div class="col col--xs12 col--sm4"></div>
    <div class="col col--xs12 col--sm4"></div>
    <div class="col col--xs12 col--sm4"></div>

    <div class="col col--xs12 col--sm3"></div>
    <div class="col col--xs12 col--sm3"></div>
    <div class="col col--xs12 col--sm3"></div>
    <div class="col col--xs12 col--sm3"></div>

    <div class="col col--xs12 col--sm2"></div>
    <div class="col col--xs12 col--sm2"></div>
    <div class="col col--xs12 col--sm2"></div>
    <div class="col col--xs12 col--sm2"></div>
    <div class="col col--xs12 col--sm2"></div>
    <div class="col col--xs12 col--sm2"></div>
  </div>
</div>
