<!-- media component -->
<div class="row row--expand">
  <div class="col col--xs12">
    <h2 class="text-center">Media</h2>
  </div>

  <div class="media col col--xs12 col--md4">
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
  </div>

  <div class="media media--invert col col--xs12 col--md-offset-2 col--md6">
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
    <div class="media__row">
      <div class="media__resource">
        <img src="./images/img1.png" alt="image">
      </div>
      <div class="media__content">

        <h2 class="media__title">
          This is the media title
        </h2>

        <p class="media--text">
          This is the media text
        </p>
      </div>
    </div>
  </div>
</div>

<!-- media component use 400x300 images or images using that aspect ratio -->
<div class="row row--expand">
  <div class="col col--xs12">
    <h2 class="text-center">Polaroid</h2>
    <div class="col col--xs12 col--md4">
      <div class="polaroid">
        <img src="./images/img2.jpg" alt="polaroid image">
      </div>
    </div>
    <div class="col col--xs12 col--md4">
      <div class="polaroid">
        <img src="./images/img2.jpg" alt="polaroid image">
      </div>
    </div>
    <div class="col col--xs12 col--md4">
      <div class="polaroid">
        <img src="./images/img2.jpg" alt="polaroid image">
      </div>
    </div>
  </div>
</div>
