<div class="row row--expand">
  <div class="col col--xs12">
    <nav class="nav nav--is-fixed">
      <ul class="nav__list">
        <li>level 1
          <ul class="nav__list">
            <li><a onclick="route('./dist/js/main.js')">Home</a>
              <ul class="nav__list">
                <li><a href="./diet44.html">diet44</a></li>
                <li>nested 2</li>
                <li>nested 3</li>
                <li>nested 4</li>
              </ul>
            </li>
            <li><a onclick="route('./dist/js/page2.js')">Page2</a>
              <ul class="nav__list">
                <li>Level 3</li>
                <li>nested 2</li>
                <li>nested 3</li>
                <li>nested 4</li>
              </ul>
            </li>
            <li><a onclick="route('./dist/js/dashboard.js')">Dashboard</a>
              <ul class="nav__list">
                <li>Level 3</li>
                <li>nested 2</li>
                <li>nested 3</li>
                <li>nested 4</li>
              </ul>
            </li>
            <li>Level 2
              <ul class="nav__list">
                <li>Level 3</li>
                <li>nested 2</li>
                <li>nested 3</li>
                <li>nested 4</li>
              </ul>
            </li>
          </ul>
        </li>

        <!-- other pages -->
        <li>Page 1</li>
        <li>Page 2</li>
        <li>Page 3</li>
      </ul>
    </nav>
  </div>
</div>
