// Extenders
%col-properties {
  position: relative;
  padding-right: $gutter;
  padding-left: $gutter;
  min-height: 1px;
}

%cf {
  zoom: 1;
  &:after,
  &:before {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

%flexAndWrap {
  display: flex;
  flex-wrap: wrap;
}

/* mixins */
@mixin hoverZoom() {
  &:hover {
    transition: all .5s;
    cursor: pointer;
    transform: scale(1.1);
  }
}
