.carousel__images {
  position: relative;
  width: 100%;
  overflow: hidden;
  max-height: 500px;
  background: #222;
  display: flex; // used to be able to se object fit on images
}

.carousel__images img,
.carousel__images input[type="radio"] {
  display: none;
}

.carousel__images input:checked:nth-of-type(1) ~ img:nth-of-type(1),
.carousel__images input:checked:nth-of-type(2) ~ img:nth-of-type(2),
.carousel__images input:checked:nth-of-type(3) ~ img:nth-of-type(3) {
  display: block;
}

.carousel__images input:checked:nth-of-type(1) ~ .carousel__controls > label:nth-of-type(1) > .carousel_button,
.carousel__images input:checked:nth-of-type(2) ~ .carousel__controls > label:nth-of-type(2) > .carousel_button,
.carousel__images input:checked:nth-of-type(3) ~ .carousel__controls > label:nth-of-type(3) > .carousel_button {
  background: $_500;
}

.carousel__images > img {
  margin: 0 auto;
  object-fit: cover;
}

.carousel__controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.carousel_button {
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background: #fff;
  border: 1px solid #ccc;
  &:hover {
    background: $_100;
    cursor: pointer;
  }
}

