$dashboardMenuWidth: 250px;
$dashboardHeaderHeight: 110px;
$dashboardTextColor: #bdbdbd;
$dashboardBorder: 1px solid #333;
$dashboardPrimaryColor: #5c5edc;
$dashboardLinkPadding: 15px 20px;

.dashboard {
  position: absolute;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  background: #2a2b30;
}

.dashboard__header-box {
  width: 33%;
  margin-left: 66%;
  text-align: right;
}

.dashboard__icons li {
  display: inline-block;
  margin-left: 25px;
  color: $dashboardPrimaryColor;
}

.dashboard__menu > .dashboard__header {
  color: $dashboardTextColor;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.dashboard__menu > .dashboard__header > .dashboard__heading {
  margin: auto;
}

.dashboard__content > .dashboard__header {
  color: $dashboardTextColor;
}

.dashboard__content > .dashboard__header > .dashboard__heading {
  font-weight: 300;
}

.dashboard__header {
  position: relative;
  padding: 10px 15px;
  min-height: $dashboardHeaderHeight;
  z-index: 2;
  top: 0;
  width: 100%;
  border-bottom: $dashboardBorder;
}

.dashboard__menu,
.dashboard__header {
  background: #1c1d22;
}

.dashboard__menu {
  position: fixed;
  width: $dashboardMenuWidth;
  height: 100vh;
  background: #242425;
}

.dashboard__content {
  margin-left: $dashboardMenuWidth;
  min-height: 100vh;
}

.dashboard__main {
  padding: 15px;
}

.dashboard__link {
  font-weight: 400;
  position: relative;
  display: block;
  padding: $dashboardLinkPadding;
  color: #bdbdbd;
  border-bottom: $dashboardBorder;
  -webkit-transition: color 0.1s;
  transition: color 0.1s;
  text-transform: capitalize;
  background: #1c1d22;
  letter-spacing: 1px;
  a {
    display: block;
    padding: $dashboardLinkPadding;
    margin: -1em -1.5em -1em -1.5em;
    color: inherit;
    text-decoration: none;
    &:hover {
      background: #2a2b30;
    }
  }
}

.dashboard--primary-color {
  color: $dashboardPrimaryColor
}
