$listPadding: .5rem 1rem;
$linkMargin: -.5rem -1rem;
$linkColor: #fff;
$linkBackgroundColor: #bf0000;
$navBorderColor: #2A2B30;

.nav {
  background: #242425;
  z-index: 10;
}

.nav__list {
  min-height: 30px;
  margin: 0;
  word-spacing: -0.3rem; // closes the li gaps
  font-weight: $fontWeightSm;
  box-shadow: 0 1px 7px #444444;
}

.nav__list li {
  font-size: 13px;
  text-transform: capitalize;
  padding: $listPadding;
  position: relative;
  background: $linkBackgroundColor;
  color: $linkColor;
  display: inline-block;
  border-left: 1px solid $navBorderColor;
  word-spacing: normal; // unsets the parent spacing
  @include hoverable(#2A2B30);
  margin: 0;
  transition: all .1s;
  &:last-of-type {
    border-right: 1px solid $navBorderColor;;
  }
}

.nav__list li a {
  text-decoration: none;
  color: inherit;
  margin: $linkMargin;
  padding: $listPadding
}

.nav__list li ul,
.nav__list li:hover ul li ul {
  display: none;
}

.nav__list li a,
.nav__list li:hover ul,
.nav__list li:hover ul li,
.nav__list li:hover ul li:hover ul {
  display: block;
}

.nav__list li:hover ul,
.nav__list li:hover ul li:hover ul {
  position: absolute;
}

.nav.nav--is-fixed,
.nav__list li:hover ul {
  left: 0;
}

.nav__list li:hover ul {
  width: 250px;
  top: 100%;
}

.nav__list li:hover ul li {
  border-bottom: 1px solid $navBorderColor;
}

.nav__list li:hover ul li:hover ul,
.nav.nav--is-fixed {
  top: 0;
}

// 3rd level
.nav__list li:hover ul li:hover ul {
  left: 100%;
}

// modifiers
.nav.nav--is-fixed {
  position: fixed;
  right: 0;
}
